var fs = require('fs');
var os = require('os');
var util = require('util');

var config = {
    port: 80,

    ssl_enabled: true,
    ssl_port: 443,

    data: {
        mem: {
        	name: 'Used memory',
        	type: 'graph',
        	command: function (callback) {
        		callback(null, util.format('%d%', (1 - os.freemem() / os.totalmem()) * 100));
        	}
        },
        load: {
        	name: 'Load average',
        	type: 'graph',
        	command: function (callback) {
        		callback(null, util.format('%d', os.loadavg()[0]));
        	}
        },
        temp: {
            name: 'Temperature',
            type: 'graph',
            command: function (callback) {
                fs.readFile('/sys/class/thermal/thermal_zone0/temp', function (err, data) {
                    callback(null, err ? 'Unknown' : util.format('%d°C', parseInt(data) / 1000));
                });
            }
        },
        date: {
            name: 'Server date',
            type: 'text',
            command: function (callback) {
                callback(null, (new Date()).toString());
            }
        }
    }
};

if (config.ssl_enabled) {
    config.ssl = {
        key: fs.readFileSync('/home/pi/.ssl/ssl'),
        cert: fs.readFileSync('/home/pi/.ssl/ssl.crt'),
        ca: [fs.readFileSync('/home/pi/.ssl/ca.pem'), fs.readFileSync('/home/pi/.ssl/sub.class1.server.ca.pem')]
    };
}

module.exports = config;
