<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Raspberry Pi</title>
    <meta name="viewport" content="width=device-width">
</head>
<body>

<h1>Raspberry Pi</h1>

<p>Online: <strong id="online">?</strong></p>

<div id="main">Loading...</div>

<script type="text/html" id="template-taskItem">
    <%= name %>: <strong><%= value %></strong>
</script>

<script src="/components/jquery/jquery.js"></script>
<script src="/components/underscore/underscore.js"></script>
<script src="/components/backbone/backbone.js"></script>
<script src="/components/marionette/lib/backbone.marionette.js"></script>
<script src="/socket.io/socket.io.js"></script>

<!-- build:js /scripts/scripts.js -->
<script src="/scripts/app.js"></script>
<script src="/scripts/adapter.js"></script>
<script src="/scripts/tasks.js"></script>
<script src="/scripts/tasksList.js"></script>
<script src="/scripts/tasksViews.js"></script>
<!-- endbuild -->

</body>
</html>
